* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input {
  font-size: 2rem;
}

h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: 200;
}

h4,
h5 {
  font-size: 2rem;
}

body {
  animation: entry 5s;
}

button {
  background-color: rgba(15, 149, 190, 0.795);
  padding: 1.5rem 4.5rem;
  border-radius: 2rem;
  border: none;
  color: antiquewhite;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
button:hover {
  background-color: rgb(197, 191, 167);
}

/*head section */

.main-head {
  background-color: #131c27;
  color: antiquewhite;
}
.main-head-nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
}
#main-head-nav-logo {
  flex: 1 1 40rem;
  padding-right: 1rem;
  color: antiquewhite !important;
}

/* #main-head-nav-logo h1 {
  color: antiquewhite;
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s;
} */

.main-head-nav-menu {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.main-head-nav-menu-item a {
  color: antiquewhite;
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s;
}

.main-head-nav-menu-item a:hover {
  background-color: white;
  color: black;
  border-radius: 2rem;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url('../Tour_Site/images/section1.jpg');
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
  text-align: center;
}
.home h3 {
  padding: 5rem;
}
.locations {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url('../Tour_Site/images/new-york-page.png');
  height: 100vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.locations-head {
  width: 90vh;
  margin: 100px;
}
.locations-head h2 {
  text-decoration: underline;
  text-decoration-thickness: 0.8rem;
  padding: 0rem 0rem 2rem 0rem;
  color: black;
}
.locations-head h3 {
  color: rgba(0, 0, 0, 0.7);
}
/* .moving-cloud1 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.moving-cloud2 {
  position: absolute;
  top: 0px;
  right: 0px;
} */
.cloud {
  position: absolute;
  top: 0px;
  right: 0px;
}
.moving-cloud1 {
  z-index: 1;
  opacity: 0.75;
  animation: cloud-animation 5s alternate ease-in-out infinite;
}
.moving-cloud2 {
  opacity: 0.5;
  animation: cloud-animation 10s alternate ease-in-out infinite;
}

@keyframes cloud-animation {
  from {
    transform: translate(10%, -10%);
  }

  to {
    transform: translate(0%, 0%);
  }
}
/* .benefits-title,
.benefits-subtitle {
  text-align: center;
  background-color: #657890;
} */

.benefits {
  height: 100vh;
}

.benefits-head {
  background-color: #131c27;
  color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  min-height: 30vh;
  /* text-align: center; will not be responsive */
}

.benefits-subtitle {
  text-align: center;
  padding-top: 2rem;
}

/* cards of benefits */
.cards {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: auto;
}

.cards-card {
  flex: 1 1 25rem;
  margin: 2rem 5rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5),
    0px 20px 20px rgba(0, 0, 0, 0.5);
}

.cards-card img {
  height: 8rem;
}

.cards-card div {
  background-color: #131c27;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.cards-card h4 {
  padding: 2rem 1rem;
}

.cards-card p {
  padding: 0rem 1rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(../Tour_Site/images/contact.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contact-form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 50%;
  color: white;
  border-radius: 20px;
}

.contact-form-wrapper-head {
  text-align: center;
  padding: 4rem;
}

.contact-form-wrapper-name-wrapper,
.contact-form-wrapper-email-wrapper {
  text-align: center;
  padding: 3rem;
}

.contact-form-wrapper-button {
  width: 100%;
  margin-top: 10rem;
  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.contact-form-wrapper input {
  padding: 1rem 3rem;
}

.contact-form-wrapper label {
  margin: 0rem 3rem;
}

/* //footer part */

.footer {
  background-color: #131c27;
  color: white;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
.footer h5 {
  flex: 1 1 40rem;
}
.footer ul {
  list-style: none;
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

button:focus {
  background: #2c323a;
  outline-style: solid;
  outline-color: cornflowerblue;
}

/* media Queries */

@media screen and (max-width: 600px) {
  .html {
    font-size: 40%;
  }
  .main-head-nav {
    flex-wrap: wrap;
    text-align: center;
  }
  .main-head-nav-logo {
    padding: 2rem;
  }
  .moving-cloud1 {
    z-index: 0;
    min-height: 50rem;
    min-width: 50rem;
  }
  .moving-cloud2 {
    z-index: -5;
    min-height: 50rem;
    min-width: 50rem;
  }
  .benefits {
    min-height: 140vh;
  }
  .benefits-title {
    text-align: center;
  }
  .cards {
    flex-wrap: wrap;
    min-height: 60vh;
  }
  .cards-card {
    min-height: 20vh;
  }

  .contact-form-wrapper {
    width: 90%;
  }
  .footer {
    text-align: center;
  }
  .footer h5 {
    padding-bottom: 3rem;
  }
}
